<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <% if (error_msg) { %>
    <div style="color: red;">
      <%= error_msg %>
    </div>
    <% } %>
      <p>Welcome to <%= title %>
      </p>
</body>

</html>