<form action="/users/avatar" method="POST" enctype="multipart/form-data">
  <input type="file" name="avatar" accept="image/*" required>
  <button type="submit" class="btn btn-primary">Upload Avatar</button>
  <a href="/" class="btn-btn reset">Cancel</a>
</form>

                            