<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">POS</div>
  </a>

  <hr class="sidebar-divider my-0">

  <!-- Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <hr class="sidebar-divider">

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Goods Utilities</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Goods Utilities:</h6>
        <a class="collapse-item" href="/goods">Goods</a>
        <a class="collapse-item" href="/units">Units</a>
      </div>
    </div>
  </li>
 


  <!-- Supplier -->
  <li class="nav-item">
    <a class="nav-link" href="/suppliers">
      <i class="fas fa-fw fa-link"></i>
      <span>Suppliers</span>
    </a>
  </li>

    <!-- Customer -->
  <li class="nav-item">
    <a class="nav-link" href="/customers">
      <i class="fas fa-fw fa-users"></i>
      <span>Customer</span>
    </a>
  </li>
  

   <!-- Users -->
  <li class="nav-item">
    <a class="nav-link" href="/users">
      <i class="fas fa-fw fa-user"></i>
      <span>Users</span>
    </a>
  </li>

   <div class="sidebar-heading">
                Transactions
            </div>
<li class="nav-item">
    <a class="nav-link" href="/purchases">
      <i class="fas fa-fw fa-table"></i>
      <span>Purchases</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/sales">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Sales</span>
    </a>
  </li>


  <hr class="sidebar-divider d-none d-md-block">

  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>